#menu-slideout {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(30, 33, 35, 0.98);
  z-index: 1;

  -webkit-box-shadow: -5px 0px 4px 1px rgba(30,33,35,0.5);
  -moz-box-shadow: -5px 0px 4px 1px rgba(30,33,35,0.5);
  box-shadow: -5px 0px 4px 1px rgba(30,33,35,0.5);
}

.menu-container {
  height: 100%;
  width: 100%;
  margin: 2.1em auto;
  padding-top: 2em;
}

.menu-grid {
  display: flex;
  flex-direction: column;

  width: 8em;
  margin: auto;
  border: 0.1em solid grey;
  border-radius: 0.3em;
  padding-bottom: 0.75em;
}

.menu-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin: 0.1em 0em;
}

.menu-icon-container {
  width: 2em;
}

.menu-item-container {
  display: flex;
  justify-content: flex-start;

  width: 5.75em;
}

.menu-item-text {
  color: rgba(255, 255, 255, 0.9);
  size: 2em;
  font-family: 'Poppins', sans-serif;
}

#nav-icon {
  color: rgb(27, 149, 224);
}

@media screen and (orientation: landscape) {
  #menu-slideout {
    width: 15vw;
  }

  .hide {
    width: 16;
  }
}

@media screen and (min-width: 501px) {
    #menu-slideout {
      max-width: 10em!important;
    }

    .menu-item-text {
      font-size: 0.8em!important;
    }
}
