.about-grid {
    border: 1px solid yellow!important;
}

.about-container {
    
    color: white!important;
    font-size: 1em;
}

.about-text {
    color: white;
}

.about-section {
    background: rgb(17, 17, 17)!important;
    /*background: black!important;*/
}

.info-block {
    max-width: 90%!important;
    margin: 0 auto!important;
    /*background: blue!important;*/
}

.block-title {
    color: rgb(27, 149, 224);
    display: inline;
}

.about-title {
    text-transform: lowercase;
}

.faq-title {
    
}

