.scene {
  box-sizing: border-box;
  /*width: 80%;*/
  /*height: 200px;*/
  width: 60%;
  height: 30%;
  margin: 2.5% auto 2.5% auto;
  perspective: 40%;
}

.card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  border-radius: 0.2em 0.2em 0em 0em;
  position: absolute;
  border: 0.05em solid #303030;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}

@media screen and (orientation: landscape) {
  .scene {
    width: 40%;
    height: 50%;
  }

  .card {
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .scene {
    width: 80%;
  }
}

@media screen and (min-width: 501px) and (orientation: portrait) {
  .scene {
    width: 40%;
  }
}
