.modal-container {
    display: flex!important;
    flex-direction: column!important;
    margin: auto auto;
    top: 0!important;
    max-width: 95vw!important;
    max-height: 90vh!important;
    position: absolute!important;
}

.modal-header {
    background-color: #F9FAFB!important;
    height: 2.5em!important;
    padding-bottom: 1em!important;
    text-align: center;
    z-index: 1001!important;
}

.modal-header-content {
    /*margin-bottom: 20%!important;*/
    font-size: 1.1em!important;
}

.modal-content {
    margin-top: 2em!important;
}


.modal-actions {
    z-index: 1001!important;
    border-bottom: 0.5em;
    padding-top: 0.5em;

}

@supports not (-webkit-touch-callout: none) {
   .modal-container {
        width: 90vw!important;
        left: 0!important;
        margin-left: 5vw!important;
        margin-right: 5vw!important;
        top: 2em!important;
        max-height: 95vh!important;

  }
}