body {
    overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  position: absolute;
  top: 5%;
  width: 100%;
  height: 90%;
}

.content-flex-box {
  flex: 1;
  overflow: auto;
  background: black;
}

.content-feed {
  height: 1000px;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  box-sizing: border-box;
  height: 5%;
  width: 100%;
  background: purple;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}


