body {
    overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  
  box-sizing: border-box;
  position: absolute;
  top: 6%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.content-flex-box {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background: rgb(17, 17, 17);
}

.content-feed {
  top: 0;
  bottom: 6%;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
}

.header, .footer {
  align-items: center;

  box-sizing: border-box;
  position: absolute;
  height: 6%;
  width: 100%;
  color: rgba(255, 255, 255, 0.90);
  background: rgb(30, 33, 35);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 0.05em solid rgb(29, 161, 242);
    top: 0;
    font-size: 1.25em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-top: 0.05em solid rgb(29, 161, 242);
    bottom: 0;
    font-size: 1.25em;
}

#icon {
  color: rgb(27, 149, 224);
}

/*@media screen and (orientation: landscape) {
  .content-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
  }

  .content-container {
    top: 8%;
    width: 100%;
  }

  .footer {
    padding: 0% 27%;
    height: 8%;
  }

  .header {
    height: 8%;
  }
}*/