body {
    overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.content-flex-box {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background: black;
}

.content-feed {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  overflow: auto;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  box-sizing: border-box;
  height: 5%;
  width: 100%;
  background: purple;
}

.header {
    top: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
}

@media screen and (orientation: landscape) {
  .content-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
}


